<h1> Hello </h1>

<%= form_for @artist do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<br>
<%= f.label :title %>
<%= f.text_field :title %><br>
<br>
<br>
<%= f.submit %>
<% end %><br>
<br>
<hr>
<br>
<%= button_to "Nevermind - Back to All Artists", artists_path, method: :get%>